<!-- Page Content -->
<div class="container" style="height: 60rem">
  <div class="row">
      <div class="col-lg-12 text-center"  style="margin-top: 30rem">
        <% unless user_signed_in? %><%= link_to 'Sign in', signin_path, class: 'btn btn-success btn-lg' %><%end%>
      </div>
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
